<mat-tab-group>
    <mat-tab label="Products">
        <ng-template matTabContent>
            <product-table />
        </ng-template>
    </mat-tab>
    <mat-tab label="Departments">
        <ng-template matTabContent>
            <app-department-table />
        </ng-template>
    </mat-tab>
    <mat-tab label="Income">
        <ng-template matTabContent>
            <income-report />
        </ng-template>
    </mat-tab>
    <mat-tab label="Manufacturers">
        <ng-template matTabContent>
            <app-manufacturer-table />
        </ng-template>
    </mat-tab>
    <mat-tab label="Suppliers">
        <ng-template matTabContent>
            <app-supplier-table />
        </ng-template>
    </mat-tab>
    <mat-tab label="Customers">
        <ng-template matTabContent>
            <app-customer-table />
        </ng-template>
    </mat-tab>
</mat-tab-group>
