/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

body {
  display: flex;
  flex-direction: column;
  margin: 0; 
  padding: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.float-right {
    float: right;
}

mat-form-field {
    margin: 5px;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* For vertical layout */
  margin: 10px;
}

.main-header {
  flex: 0 1 auto;
}

.main-body {
  flex-grow: 1 0 auto;
}

.table-container {
  display: flex;
  flex-direction: column; /* For vertical layout */
}

/* Optional: To ensure the header remains visible while scrolling the body */
.table-container table {
  width: 100%; /* Ensure the table takes full width of the container */
  border-collapse: collapse; /* For better table rendering */
}

.table-container thead, .table-container tbody tr {
  display: table;
  height: 50px;
  width: 100%;
  table-layout: fixed; /* Ensures columns align when header and body are separate */  
}

.table-container tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-container thead:first-of-type {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-container thead {
  flex: 0 1 auto;
}

.table-container tbody {
  flex: 1 0 auto;
  display: block; /* Allows tbody to scroll independently */
  overflow-y: auto;
}

:root {
  @include mat.table-overrides((
    row-item-outline-width: 0
  ));
}


