.mat-column-name {
    width: 10%;
}

.mat-column-code {
    width: 5%;
}

.mat-column-street {
    width: 10%;
}

.mat-column-city {
    width: 8%;
}

.mat-column-state {
    width: 5%;
}

.mat-column-postalCode {
    width: 10%;
}

.mat-column-contactName {
    width: 10%;
}

.mat-column-contactEmail {
    width: 10%;
}

.mat-column-phoneNumber {
    width: 10%;
}

.mat-column-actions {
    width: 10%;
}

